@media (min-width: 320px) {
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    max-width: 100%;
  }
  .skill h2{
    view-timeline-name: --show;
    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
    z-index: -1;
  }
  .skill__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .skill__items > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
  .skill p {
    width: 80%;
    text-align: center;
    color: white;
    view-timeline-name: --show;
    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
    z-index: -1;
  }
  .skill i {
    font-size: 80px;
    view-timeline-name: --show;
    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .skill {
    padding-top: 100px;
  }
  .skill__items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50%;
  }
  .skill__items i {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  .skill__items {
    width: 45%;
  }
  .skill__items i {
    font-size: 110px;
  }
}
